.skill-card {
    width: 100%;
    padding: 2rem 1rem;
    border: 1px solid #767776;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.6s ease-in-out;
}

.skill-card:nth-child(n) {
    animation-delay: n * 200ms;
}

.skill-card:hover {
    scale: 1.1;
}

.skill-image {
    width: 50px;
}

.skill-title {
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.3em;
    font-family: var(--font-1);
    font-weight: 500;
}