.banner-image {
    position: relative;
	max-width: 450px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 40px;
}

.banner-image img {
    max-width: 350px;
    object-fit: cover;
}

.banner--hero-banner img {
    min-height: 65vh;
    max-height: 80vh;
}


.banner--hero-banner:before {
    content: '';
    width: 100px;
    height: 100px;
    border: 10px solid var(--color-primary);
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.banner--hero-banner::after {
    content: '';
    width: 100px;
    height: 100px;
    border: 10px solid var(--color-primary);
    border-top-color: transparent;
    border-left-color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.banner--cover-banner {
    
}


.banner--cover-banner .banner-image-inner {
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid var(--color-primary);
}