.typewriter{
  overflow: hidden; 
  white-space: nowrap; 
  letter-spacing: .1rem; 
  animation: 
    slideUp 1s ease-in,
    typing 3.5s steps(40, end);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


/* slide Up effect */
@keyframes slideUp {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0);
  }
}

.fadeIn {
    opacity: 0;
    scale: 0.8;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.fadeLeft {
    opacity: 0;
  animation: fadeLeft 1.5s ease-in-out forwards;
}

/* Fade Left effect */
@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeRight {
    opacity: 0;
    animation: fadeRight 1.5s ease-in-out forwards;
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeUp {
    opacity: 0;
  animation: fadeUp 1s ease-in-out forwards;
}

/* Fade Up effect */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeDown {
    opacity: 0;
  animation: fadeDown 1s ease-in-out forwards;
}

/* Fade Up effect */
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes skeleton-shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.gelatine {
  opacity: 0;
  animation: gelatine 1.5s ease-in forwards;
}
@keyframes gelatine {
  from, to {
    transform: scale(1, 1); 
  }
  25% { 
    opacity: 0.5;
    transform: scale(0.9, 1.1); 
  }
  50% {
    opacity: 1;
    transform: scale(1.1, 0.9); 
  }
  75% { 
    opacity: 0.75;
    transform: scale(0.95, 1.05); 
  }
  100% { 
    opacity: 1;
    transform: scale(1, 1); 
  }
}
