.page-center {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: min(96%, 1780px);
}

.banner-section-inner {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
    min-height: 100vh;
}

.banner-content-outer {
    flex: 0 calc(60% - 20px);
    max-width: 650px;
}
.banner-image-outer {
    flex: 0 calc(40% - 20px);
}

.banner-image-outer {
    display: flex;
    justify-content: center;
}

.banner-content-outer h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 500;
}

.banner-content-outer h3 {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 400;
}

span.highlight-text {
    color: var(--color-primary);
    font-weight: 700;
}

.banner-content-outer p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.5em;
}

.get-in-touch {
    margin-top: 70px;
}

