.coming-soon-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.coming-soon-section h1 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 0;
    max-width: 400px;
    text-align: center;
    width: 400px; 
    overflow: hidden; 
    white-space: nowrap; 
    letter-spacing: .1rem; 
    animation: 
    typing 3.5s steps(40, end);
}