@charset "UTF-8";

/* =================================================================== 
 * Sunil Main Stylesheet
/* ===================================================================

/* ------------------------------------------------------------------- 
 * ## fonts 
 * ------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('./styles/animation.css');

:root{
    --font-1: "Poppins", sans-serif;
    --font-2: "Montserrat", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-1);
    font-weight: 300;
    color: var(--color-secondary);
    background-color: var(--color-body-bg);
}

/* Theme Styles */

body {
    --color-primary: #c93f1d;
    --color-secondary: #F5F5F5;
    --color-link : #c93f1d;
    --color-link-hover : #2F352B;

    --color-text: #F5F5F5;
    --color-text-50: #f5f5f580;

    --color-btn-text: #c93f1d;
    --color-btn-bg: #c93f1d;
    --color-btn-bg-hover: transparent;
    --color-btn-text-hover: #f5f5f5;

    --color-body-bg: #020312;

    --color-accent-primary: #00C853;
    --color-accent-secondary: #F5F5F5;
    --color-accent-tertiary: #3b4045;;
}

/* links */
a {
    color: var(--color-link);
    transition: all 0.3s ease-in-out;
}

a:focus,
a:hover,
a:active {
    color: var(--color-link-hover);
}

a:hover,
a:active {
    outline: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: var(--color-text)
}

p {
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-text);
  margin-top: 0;
  margin-bottom: 1em;
}

.colorGradient {
    background: linear-gradient(to right, #00ff90 0%, #b642f5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skeleton {
    position: relative;
}
 .skeleton::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: var(--radius);
    background-color: #3b4045;
    background-image:  linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 100%);
    background-size: 50% 100%;
    background-position: -200% 0;
    background-repeat: no-repeat;
    color: var(--color-pale-grey);
    animation: skeleton-shimmer 1.25s ease infinite;
 }

 @keyframes skeleton-shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}